/* @import "reset";
@import "mixins";
@import "skeleton"; */
@import "custom";
@import "components/animations";
@import "components/buttons";
@import "components/mixins";
@import "components/typography";
@import "sections/faq";
@import "sections/footer";
@import "sections/hero";
@import "sections/navbar";
@import "sections/partners";
@import "sections/services";
@import "sections/start";
@import "sections/testimonials";
@import "sections/work";
